<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBFinalGID1.Properties.Settings.OilRefineryConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=(local);Integrated Security=SSPI;Initial Catalog=OilRefinery"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>